$backend: #eee;

blockquote {
    margin: 0;

    p {
        max-width: 80%;
        margin:0 auto;
        text-align: center;
        padding: 15px;
        background: $backend;
        border-radius: 5px;
    }

    p::before {
        content: '\201C';
        font-size: 1.8em;
    }

    p::after {
        content: '\201D';
        font-size: 1.8em;
    }
}

.right {
    text-align: right;
    margin-right: 10%;
}

.center {
    text-align: center;
}

.red {
    color:red;
}